*{
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.tarjeta{
    border-radius: 20px;
    background-color: #1e335e ;
    width: 500px;    
    
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(128, 124, 124);
}

.tarjeta .tarjeta{
    overflow: hidden;
    transition: all 0.25s;
}

.cont-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.cont-tarjeta img{
    border-radius: 300px;
    border: solid white 10px;
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.text{
   color: white;
}

.parrafo{
    color: white;
}

.imgMain{
    position: relative;
    overflow: hidden;   
    border-radius: 25px;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}
